html {
}

body{
	font-family: "Palatino", "serif";
	margin: 0;
	padding: 0;
	border: 0;
}

#main{
	padding-right: 12px;
	padding-left: 12px;
}

#main-menu{
	background-color: #F2F2F2;
	width: 100%;
	height: 28px;
	padding-top: 5px;
	padding-bottom: 5px;
	white-space: nowrap;
}

.main-menu-element{
	float: left;
	margin-left: 12px;
	color: #337ab7;
}

.sub-menu-element{
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none !important;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}



/* === TITLE === */

h1{
	font-size:28px;
	text-align: center;
}

h2{
	font-size:20px;
}



/* === TABLE === */

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.table-spell-input{
	width: 40px;
}

table thead tr td {
    text-align: center;
    font-weight: bold;
    background-color: #E0E6F8;
}

td {
    padding: 3px;
}

.text-cell {
	text-align: left;
}

.num-cell {
	text-align: right;
}

tr.color1 {
	background-color: white;
}

tr:hover {
	background-color: #E0E6F8;
	color: #000000;
}

.magic-spell-type-id-1{
	background-color: #ffffcc;
}

.magic-spell-type-id-2{
	background-color: #ffb3b3;
}

.magic-spell-type-id-3{
	background-color: #ffffff;
}

.magic-spell-type-id-4{
	background-color: #e6ccb3;
}

.magic-spell-type-id-5{
	background-color: #b3d1ff;
}

.magic-spell-type-id-6{
	background-color: #c2f0f0;
}

.magic-spell-type-id-7{
	background-color: #eeccff;
}

.magic-spell-type-id-8{
	background-color: #ffd9b3;
}

.magic-spell-type-id-9{
	background-color: #c2f0c2;
}

.magic-spell-type-id-10{
	background-color: #d9d9d9;
}

.magic-spell-type-id-11{
	background-color: #404040;
	color: #ffffff;
}

.magic-spell-type-id-11 input, select, textarea{
	color: #000000;
}



/* === OTHER === */

.update-link{
	display: inline-block;
	font-size: 13px;
}
